<html>
    
    <head>
        
        <title>Home Page</title>
    </head>
    
    <body>
        
        <!--<p>To send a message use /USERNAME/MESSAGE</p>-->
        <!--creating form-->
        
        <!--creating form using form method-->
        <form method="POST">
            <!--creating label-->
            <label for="username">Username</label>
            <!--input is text, giving id="username", so it can be styled, and name="username", so it can be referred to in run.py-->
            <input type="text" id="username" name="username">
            <button>Go to Chat!</button>
        </form>
    </body>
</html>